doctype 5

html
  head
    title Erlang Modules
    link(rel="stylesheet", href="style.css", type="text/css")

  body
    h1 ERLANG MODULES
    each repo, rank in repos
      .repo
        .rank ##{per_page * (cur_page - 1) + (rank + 1)}
        if repo.info
          .name(href=repo.info.html_url) #{repo.name}
          .des= repo.info.description
          // img.avatar(src=repo.info.owner.avatar_url)
        else
          .name #{repo.name}
        .number #{repo.depon.length} projects depend on it

    .pagination
      ul
        li PAGES:
        for p in pages
          if cur_page === p
            li= p
          else
            li
              a(href="#{p}.html")= p
