doctype html

html
  head
    title Erlang Modules
    link(rel="stylesheet", href="style.css", type="text/css")

  body
    .header
      <a href="https://github.com/wb14123/erlang_module"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    h1 ERLANG MODULES
    each repo, rank in repos
      .repo
        .rank ##{per_page * (cur_page - 1) + (rank + 1)}
        if repo.info
          a.name(href=repo.info.html_url, target="_blank") #{repo.name}
          .des= repo.info.description
          // img.avatar(src=repo.info.owner.avatar_url)
        else
          .name #{repo.name}
        .number #{repo.depon.length} projects depend on it

    .pagination
      ul
        li PAGES:
        for p in pages
          if cur_page === p
            li= p
          else
            li
              if p === 1
                a(href="/")= p
              else
                a(href="#{p}.html")= p

    .footer
      Last updated at #{update}
